# Default ignored files
/workspace.xml
/sonarlint/issuestore/5/f/5f4f5a728cd66d148f3dc84577cd1b5d0a6a51d3
/sonarlint/issuestore/1/9/1950a6345d87acd93355e1f1949eceb2058f983c
/sonarlint/issuestore/4/7/477087ab31161afdcda429107111c7b641ebf98b
/sonarlint/issuestore/b/4/b4d21b046d60a4a898bd50a922cc456c514cc66c
/sonarlint/issuestore/b/c/bc2e020ddfd912fb2cb47bea516d50e26f70c34e
/sonarlint/issuestore/d/c/dccbaa298321607b22b3768a23d93007d106cf7b
/sonarlint/issuestore/d/d/ddcf1fe0e57e7ac973d7e49e44ba3e8fd3c04d5d
/sonarlint/issuestore/e/0/e08e214fad10925e3d10d3001d1933527cb841da
/sonarlint/issuestore/e/b/eba80366c3940bd6f5c23f491689d797300da87a
/sonarlint/issuestore/e/e/ee1a206322d68e15f81eba0fc47ac6cc42b41a91
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/EnglishDraughts$1.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/EnglishDraughts$DraughtsMove.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/EnglishDraughts.class
/sonarlint/issuestore/index.pb
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MainGameLoop$1.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MainGameLoop$NamedSupplier.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MainGameLoop.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MonteCarloTreeSearch$1.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MonteCarloTreeSearch$EvalNode.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MonteCarloTreeSearch$RolloutResults.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/MonteCarloTreeSearch.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/PlayerHuman.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_33_[Default_Changelist]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_33_[Default_Changelist]1/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_46_[Default_Changelist]/TestEnglishDraughts.class
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_33__Default_Changelist_.xml
/shelf/Uncommitted_changes_before_Update_at_09_02_2021_21_33__Default_Changelist_1.xml
